<h1 class="font-bold text-gray-950 text-2xl">Employees ({{(dataEmployee$ | async)?.length}})</h1>
<p class="text-gray-500 font-normal">All the Employees of the company are listed here</p>
<div class="flex justify-between pb-10 pt-6">
  <input type="text" [(ngModel)]="searchQuery" (input)="onFilter()" class="bg-gray-100 rounded-md pl-2 border-2 border-primary-950" placeholder="Search by Name">
  <button routerLink="/employee/create" class="text-white bg-primary-900 rounded-mdv h-fit py-1 px-2 rounded-md">+ Create New Employee</button>
</div>

<app-card-employee [employee]="dataEmployee$ | async" [currentPage]="currentPage" [itemsPerPage]="totalPages" (deleteCardById)="onDeleteEmploy($event)"></app-card-employee>

<div class="flex justify-between pt-10">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
          class="bg-primary-900 px-4 text-white rounded-md font-bold">Previous</button>
  <button class="bg-primary-900 px-4 text-white rounded-md font-bold"
          (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>
